@import "global";

* {
    box-sizing: border-box;
    // TODO: do not apply font-size to all!
    font-size: $default-font-size;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: $dark;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%; 
}