@import "global";

.chk-box {
    margin: $default-margin;
    width: $default-font-size;
    height: $default-font-size;
    vertical-align: bottom;

    &.chk-box--checked::after {
        width: $default-font-size;
        height: $default-font-size;
    }
}