@import "global";

.msg-box {
    padding: $default-padding*3;
    border: 1px solid $dark;
    box-shadow: 0 0 10px $dark;
    background-color: white;

    .title {
        // align title at the top
        margin-left: -$default-padding*3;
        margin-right: -$default-padding*3;
        margin-top: -$default-padding*3;

        padding: $default-padding*0.5;
        text-align: center;
    }

    .msg {
        text-align: center;
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}