@import "global";

.select {
    margin: $default-margin;
    width: 200px;

    input {
        padding: $default-padding/2;
    }

    .select-results {
        border: 1px solid $dark;
        border-top: none;
        z-index: $z-index-middle;

        .select-item {
            padding: $default-padding;
        }
    }
}