@import "global";

.tabs {
    margin: $default-margin;
    width: auto;

    .bar {
        height: 35px;

        .header {
            width: $min-size*22; // use two additional pixels for borders
            border-top-right-radius: 10px;
            padding: $min-size;

            &:not(.closeable) {
                span:first-child {
                    width: $min-size*22 - 2px - $min-size*2 - $min-size; //padding, margin of x
                    clear: left;
                }
            }

            span:first-child {
                width: $min-size*22 - 2px - 10px - $min-size*2 - $min-size; //padding, margin of x
                overflow: hidden;
                white-space: nowrap;
                display: block;
                float: left;
            }

            &.closeable {
                span:last-child {
                    width: 10px;
                    display: block;
                    float: right;
                    margin-left: $min-size;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover {
                width: auto;

                span:first-child {
                    width: auto;
                }
            }

            &.inactive {
                background-color: $light;
            }
        }
    }

    .content {
        padding: $default-padding;
        border: 1px solid $dark;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}